[project]
	description = Working repository for EA-976 undergrad class on Software Engineering at University of Campinas
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pedro Correa Bueno de Castro (ra118355)
[access "refs/for/refs/*"]
	read = group user/Pedro Correa Bueno de Castro (ra118355)
	push = group user/Pedro Correa Bueno de Castro (ra118355)
	label-Code-Review = -2..+2 group user/Pedro Correa Bueno de Castro (ra118355)
	label-Verified = -1..+1 group user/Pedro Correa Bueno de Castro (ra118355)
	rebase = group user/Pedro Correa Bueno de Castro (ra118355)
	removeReviewer = group user/Pedro Correa Bueno de Castro (ra118355)
	submit = group user/Pedro Correa Bueno de Castro (ra118355)
[access "refs/heads/*"]
	read = group user/Pedro Correa Bueno de Castro (ra118355)
	create = group user/Pedro Correa Bueno de Castro (ra118355)
	push = +force group user/Pedro Correa Bueno de Castro (ra118355)
	pushMerge = group user/Pedro Correa Bueno de Castro (ra118355)
[access "refs/tags/*"]
	push = +force group user/Pedro Correa Bueno de Castro (ra118355)
	pushTag = group user/Pedro Correa Bueno de Castro (ra118355)
	pushSignedTag = group user/Pedro Correa Bueno de Castro (ra118355)
